{% extends "layout.html" %}
{% block body %}
<!-- Page Header -->
<header class="masthead">
  <div class="overlay"></div>
  <div class="container">
    <div class="row">
      <div class="col-lg-8 col-md-10 mx-auto">
        <div class="page-heading">
          <h1>About Me</h1>
          <span class="subheading">This is what I do.</span>
        </div>
      </div>
    </div>
  </div>
</header>

<!-- Main Content -->
<div class="container">
  <div class="row">
    <div class="col-lg-8 col-md-10 mx-auto">
      <p>Station Finder is an innovative platform that helps users locate nearby railway stations, bus stations, and
        metro stations. Our mission is to make travel easier, ensuring that people can reach their destinations without
        hassle.</p>

    </div>
  </div>
</div>

{% endblock %}
